<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&family=JetBrains+Mono:wght@400;500;600;700&display=swap" rel="stylesheet" />

{{- if .IsHome -}}
{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "SoftwareSourceCode"
  "name" "go-snap-bi"
  "description" (.Description | plainify | htmlUnescape)
  "codeRepository" "https://github.com/koriebruh/go-snap-bi"
  "programmingLanguage" "Go"
  "license" "https://github.com/koriebruh/go-snap-bi/blob/main/LICENSE"
  "url" .Permalink
  "author" (dict "@type" "Person" "name" "M. Jamaludin Nur" "url" "https://github.com/koriebruh")
-}}
<script type="application/ld+json">{{ $schema | jsonify (dict "indent" "  ") | safeJS }}</script>
{{- end -}}
